:root {
    --LarguraDasTabelas: 90%;
  }
body {
    background-color:rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-size: 2vh;
}
body:last-child {
    margin-bottom: 10vh; 
}
h1,h2,h3,h4{
    text-align: center;
}
#IDForça {
    color: rgba(192, 0, 0, 1);
    font-weight: bold;
}
#IDDestreza {
    color: rgba(0,176, 80, 1);
    font-weight: bold;
}
#IDConstituição {
    color: rgba(112, 48, 160, 1);
    font-weight: bold;
}
#IDCarisma {
    color: rgba(255, 200, 38, 1);
    font-weight: bold;
}
#IDPercepção {
    color: rgba(131, 60, 11, 1);
    font-weight: bold;
}
#IDIntelecto {
    color: rgba(68, 113, 196, 1);
    font-weight: bold;
}
#PontoPositivo{
    color: rgb(12, 149, 33);
    font-weight: bold;
}
#PontoNegativo{
    color: rgb(176, 7, 7);
    font-weight: bold;
}
/* Tabela4x2 */
#Tabela4x2 {
    width: var(--LarguraDasTabelas);
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    table-layout: inherit;
}
#Tabela4x2 th,#Tabela4x2 td {
    border: 1px solid rgba(245, 245, 245, 1);
    padding: 1vh;
    font-weight: bold;
    color:rgba(50, 50, 50, 1);
}
#Tabela4x2 th:nth-child(odd), #Tabela4x2 td:nth-child(odd) {
    background-color:rgba(245, 245, 245, 1);
}
#Tabela4x2 th:nth-child(even), #Tabela4x2 td:nth-child(even) {
    background-color:rgba(255, 255, 255, 1);
}
/* Tabela2x2 */
#Tabela2x2 {
    width: var(--LarguraDasTabelas);
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    table-layout: fixed;
}
#Tabela2x2 th, #Tabela2x2 td {
    border: 1px solid rgba(245, 245, 245, 1);
    padding: 1vh;
    font-weight: bold;
    text-align: center;
    color:rgba(50, 50, 50, 1);
}
#Tabela2x2 th {
    background-color:rgba(245, 245, 245, 1);
}
#Tabela2x2 td {
    background-color:rgba(255, 255, 255, 1);
    height: 1em;
}
/* Tabela1x1 */
#Tabela1x1 {
    width: var(--LarguraDasTabelas);
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    table-layout: fixed;
}
#Tabela1x1 th, #Tabela1x1 td {
    border: 1px solid rgba(245, 245, 245, 1);
    padding: 1vh;
    font-weight: bold;
    text-align: center;
    color:rgba(50, 50, 50, 1);
}
#Tabela1x1 td {
    background-color:rgba(255, 255, 255, 1);
    height: 5em;
} 
/* TabelaLinhas */
#TabelaLinhas {
    width: var(--LarguraDasTabelas);
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
#TabelaLinhas th, #TabelaLinhas td {
    text-align: left;
    border: 1px solid rgba(245, 245, 245, 1);
    padding: 1vh;
    font-weight: bold;
    color:rgba(50, 50, 50, 1);
}
#TabelaLinhas tr:nth-child(2n) {
    background-color:rgb(255, 255, 255);
}
#TabelaLinhas tr:nth-child(2n+1) {
    background-color:rgba(245, 245, 245, 1);
}
/* TabelaLinhasSemNegrito */
#TabelaLinhasSemNegrito {
    width: var(--LarguraDasTabelas);
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
#TabelaLinhasSemNegrito th, #TabelaLinhasSemNegrito td {
    text-align: left;
    border: 1px solid rgba(245, 245, 245, 1);
    padding: 1vh;
    color:rgba(50, 50, 50, 1);
}
#TabelaLinhasSemNegrito th{
    font-weight: bold;
}
#TabelaLinhasSemNegrito tr:nth-child(2n) {
    background-color:rgb(255, 255, 255);
}
#TabelaLinhasSemNegrito tr:nth-child(2n+1) {
    background-color:rgba(245, 245, 245, 1);
}
/* TabelaAntecedentes */
#TabelaAntecedentes {
    width: var(--LarguraDasTabelas);
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
#TabelaAntecedentes th, #TabelaAntecedentes td {
    text-align: left;
    border: 1px solid rgba(245, 245, 245, 1);
    padding: 1vh;
    color:rgba(50, 50, 50, 1);
}
#TabelaAntecedentes th{
    font-weight: bold;
    text-align: center;
}
#TabelaAntecedentes tr:nth-child(2n) {
    background-color:rgb(255, 255, 255);
}
#TabelaAntecedentes tr:nth-child(2n+1) {
    background-color:rgba(245, 245, 245, 1);
}
/* TabelaTecnicas */
#TabelaTecnicas {
    width: var(--LarguraDasTabelas);
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
#TabelaTecnicas th, #TabelaTecnicas td {
    text-align: left;
    border: 1px solid rgba(245, 245, 245, 1);
    padding: 1vh;
    color:rgba(50, 50, 50, 1);
}
#TabelaTecnicas tr:nth-child(4n+1),
#TabelaTecnicas tr:nth-child(4n+2) {
  background-color:rgba(245, 245, 245, 1);
}
#TabelaTecnicas tr:nth-child(4n+3),
#TabelaTecnicas tr:nth-child(4n+4) {
  background-color:rgb(255, 255, 255);
}
