body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(240, 240, 240);
    font-family: Arial, sans-serif;
    overflow: hidden;
}
#Abas{
    background-color:rgb(255, 255, 255);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0.5%;
    font-size: 2vh;
}
#Abas a{
    color:rgb(50, 50, 50);
    text-decoration: none;
    margin-left: 0.5%;
}
#Abas a.active {
    color:rgb(55, 119, 238);
}
#Folha{
    width: 50%;
    height: 90%;
    border: 1px solid rgba(200, 200, 200, 1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    overflow: auto;
}